@import 'variable.scss';
#about {
    text-align: center;
    padding: 8rem 0;
    background-color: $color-1!important;
    .container {
        width: 73rem;
        margin: 0 auto;
        h3 {
            font-size: 3.4rem;
            color: $color-white;
            font-weight: 500;
        }
        hr {
            width: 5rem;
            margin: 27px auto;
            height: 0.2rem;
            background-color: $color-white;
            border: 1px solid $color-white;
        }
        p {
            color: rgba(255,255,255,.75);
            font-size: 1.65rem;
            width: 68rem;
            font-weight: 300;
            margin: 0 auto;
        }
        button {
            width: 18.5rem;
            height: 6rem;
            border-radius: 10rem;
            background-color: $color-white;
            border: none;
            margin-top: 3.5rem;
            a {
                color: $color-black;
                text-transform: uppercase;
                font-size: 1.44rem;
                font-weight: bold;
            }
        }
    }
}