* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}
.clear {
    clear: both;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}
#wrapper {
    font-family: 'Open Sans', sans-serif;
} 